NODE_ENV=

PORT=

API_PREFIX=

JWT_SECRET=

AUTH_SERVICE=

USER_SERVICE=

SELLER_SERVICE=

PRODUCT_SERVICE=

INVENTORY_SERVICE=

ORDER_SERVICE=

PAYMENT_SERVICE=

PICKUP_SERVICE=

WAREHOUSE_SERVICE=

HUB_SERVICE=

DELIVERY_SERVICE=

NOTIFICATION_SERVICE=

ANALYTICS_SERVICE=